.center {
display: block;
margin-left: auto;
margin-right: auto
}
.index_input{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding-left: 9px;
  width: 30%;
  padding: 12px 20p  x;
  box-shadow: 2px solid grey;
  box-sizing: border-box;
}
.button{
border: none;
background-color: white;
color: black;
border: 1px solid #e7e7e7;;
padding: 10px 32px;
text-align: center;
text-decoration: none;
font-size: 16px;
}
.button:hover {background-color: #e7e7e7;}

/* -----------------------------------------------------*/
* {
box-sizing: border-box;
}

body {
background: #f5f6fa;
font: 1rem "PT Sans", sans-serif;
}

.autocomplete {
/*el container:*/
position: relative;
/* display: inline-block; */
}

/* input {
border: 1px solid transparent;
background-color: #f1f1f1;
padding: 10px;
font-size: 16px;
} */

input{
width: 540px;
background: #fff;
font: inherit;
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
border: 0;
outline: 0;
padding: 10px 10px;
}

input[type=text] {
/* background-color: #f1f1f1; */
width: 100%;
}

/* .box-input{
  padding: 11px 12px;
  border: 1px solid #ccc;
  width: 48%;
} */

input[type=submit] {
background-color: #f8f8f8;//DodgerBlue;
color: #222;
font-weight: bold;
cursor: pointer;
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1)
border: 0;
outline: 0;
}

.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: 1px solid #d4d4d4; //cambio
border-top: none;
z-index: 99;
/*posicionar los items del autocompletado para que tengan
el mismo ancho que el container:*/
top: 100%;
left: 0;
right: 0;
}

.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
/* border-bottom: 1px solid #d4d4d4; */
}

.autocomplete-items div:hover {
/*cuando seleccionamos un item:*/
background-color: #e9e9e9;
}

.autocomplete-active {
/*cuando navegamos atraves de los items usando la tecla flecha:*/
background-color: DodgerBlue !important;
color: #ffffff;
}
/* -------------------------------------------------------------*/
.PostSearch{
    margin-bottom: 20px;
    margin-top: 20px;
    /* padding: 0 10% 0 5%; */
}
.PostImg{
    display: inline;
}
.logo-main{
    height: 45px;
}
.PostForm{
    display: inline;
    vertical-align: middle;
    padding: 8px;
}
.box-input{
    padding: 11px 12px;
    border: 1px solid #ccc;
    width: 38%;
}
.box-input-button{
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.PostResult{
    padding: 20 10% 20 10%;
    /*width: 65%;*/
}
.resultStatistic{
  margin-left: 127px;
  color: #808080;
  font-size: small;
  font-family: arial,sans-serif;
  /* background-color: white; */
}
.timeStat{
  font-weight: bolder;
}
.countStat{
  font-weight: bolder;
}
.PostBody{
  font-size: small;
  text-align: justify;
  color: #545454;
}
.PostFooter{
  font-size: small;
  /* font-weight: bold; */
  color: green;
}

.resultContent{
  background: #ffffff;
}
.btn{
  width: 7%;
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--search{
  background: #9d2f24;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 11px;
}

.lev{
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#suggestionRad{
  display: inline;
}